#recipes {
  padding-bottom: 3rem;
}

#recipes::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  height: 100px;
  background-color: #343a40;
}

#recipes::-webkit-scrollbar {
  width: 12px;
  background-color: #343a40;
}

#recipes::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #dbdbdb;
}