#recipes {
  max-height: 84.5vh;
  padding-bottom: 3rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#recipes::-webkit-scrollbar {
  display: none;  /* Chrome based */
}